header{
    background-color: chocolate;
    border-style: outset;
    border-color: aquamarine;
    border-radius: 10%;
    border-width: 1cm;
}main{
    background-color: brown;
    border-style: outset;
    border-color: aquamarine;
    border-radius: 10%;
    border-width: 1cm;
}footer{
    background-color: chocolate;
    border-style: outset;
    border-color: aquamarine;
    border-radius: 10%;
    border-width: 1cm;
}

body{
    border-style: double;
    border-color: aqua;
    border-width: 0.5cm;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#Pizza{
    border-style:solid;
    border-radius: 20%;
    border-color: cyan;
    background-color: wheat;
}
#Drink{
    border-style: solid;
    border-color: brown;
    background-color: aquamarine;
    border-radius: 10%;
}
