{% extends 'base.html' %}

{% block content %}

<div class="container py-5">
    <div class="row">
    <div class="col-12 col-lg-6">
        <img src="{{ url_for('static', filename='img/' + drink[3]) }}" alt="" class="rounded img-fluid">
    </div>
    <div class="col-12 col-lg-6">
        <h2 class="mr-5 ml-5 mb-5 mt-5">{{drink[2]}}</h2>

        <h3>{{drink[4]}} usd</h3>     
        <h5> {{drink[5]}}</h5>
        <a class="btn btn-primary" href="#" role="button">Buy</a>
    </div>
    </div>
</div>

{% endblock content %}