{% extends "base.html" %}
{% block head %}
<title>{{title}}</title>
{% endblock head %}
{% block content %}
<div class="About">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="title about">
        <div class="Title"><H1>About</H1></div>
    </div>
    
    <div class="about">
        <p>
        This site was made as poject for end of course and for graduation,<br>
        If you realy think that this is real web <b>IT IS NOT</b>,<br>
        this is test web other webs is on my GitHub!!
        </p>
    </div>
</div>
{% endblock %}