{% extends "base.html" %}
{% block head %}
<title>Online Pizzeria | Drinks</title>
{% endblock head %}
{% block content %}
<section class="container card-group drink Drink">
{% for item in drinks %}
          <div class="card m-2 rounded text-bg-info p-3" style="min-width: 18rem; max-width: 25rem; min-height: 30 rem; max-height: 40 rem;">
               <img src="{{url_for('static', filename='img/' + drink[3])}}" class="card-img-top rounded">
               <div class="card-body" id="Drink">
                    <h5 class="card-title">{{drink[2]}}</h5>
                    <p class="card-text">{{drink[4]}} USD</p>
                    <p class="card-size">{{drink[5]}} Liter</p>
                    <p ckass="card-price"></p>
                    <a href="{{url_for('drink', drink_id=drink[0])}}" class="btn btn-outline-dar">Buy</a>
               </div>
          </div>
{% endfor %}
</section>
{% endblock %}