{% extends "base.html" %}
{% block head %}
<title>{{title}}</title>
{% endblock head %}
{% block content %}
     <h1 class="my-5" style="text-align: center;">Online Pizzeria</h1>
          {% for type, message in get_flashed_messages(True) %}
               <div class="alert {{type}} my-3 "> {{message}} </div>
          {% endfor %}

          <section class="container card-group ">
               {% for item in pizzas %}
                    <div class="card m-2 rounded" style="min-width: 18rem; max-width: 25rem; ">
                         <img src="{{url_for('static', filename='img/' + item[4])}}" class="card-img-top rounded">
                         <div class="card-body" id="Pizza">
                              <h5 class="card-title">{{item[2]}}</h5>
                              <p class="card-text">{{item[5]}} USD</p>
                              <p class="card-size">{{item[6]}} Size</p>
                              <p class="card-idies">{{item[7]}} ID/IDies</p>
                              <a href="{{url_for('pizza', pizza_id=item[0])}}" class="btn btn-outline-dar">Buy</a>
                         </div>
                    </div> 
               {% endfor %}
               {% for item in drinks %}
                    <div class="card m-2 rounded" style="min-width: 18rem; max-width: 25rem;">
                         <img src="{{url_for('static', filename='img/' + item[3])}}" class="card-img-top rounded">
                         <div class="card-body" id="Drink">
                              <h5 class="card-title">{{item[2]}}</h5>
                              <p class="card-text">{{item[4]}} USD</p>
                              <p class="card-size">{{item[5]}} Liter</p>
                              <p class="card-price"></p>
                              <a href="{{url_for('drink', drink_id=item[0])}}" class="btn btn-outline-dar">Buy</a>
                         </div>
                    </div>
               {% endfor %}

               </section>
{% endblock %}