{% include "base.html" %}
{% block content %}
        <div class="content">
            <div class="text">
                <p>
                    you can me suppot on:
                    <ul>
                        <li>Youtube</li>
                        <li>GitHub</li>
                    </ul>
                </p>
            </div>
            <div class="links">
                <p>Youtube</p>
                <a href="https://www.youtube.com/@JUJ_ORIGINAL">CLICK ME!</a>
                <p>GitHub</p>
                <a href="https://github.com/arturmaievskyi"> Click ME!!</a>
            </div>
            <div class="other">
                <p>
                    if you will more projects,<br>
                    follow me on GitHub
                </p>
            </div>
        </div>
{% endblock %}