{% extends "base.html" %}    
{% block content %}

        <div class="container py-5 one_pizza">
        <div class="row">
            <div class="col-12 col-lg-6">
                <img src="{{ url_for('static', filename='img/' + pizza[4]) }}" alt="picture of pizza" class="rounded img-fluid">
            </div>
                <div class="col-12 col-lg-6">
                    <h2 class="mr-5 ml-5 mb-5 mt-5">{{pizza[2]}}</h2>
                    <h3>{{pizza[5]}} USD</h3>     
                    <h5>size: {{pizza[6]}}</h5>
                    <h5>About: {{pizza[3]}}</h5>
                </div>
            </div>
        </div>

        <form action="" method="post">
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Write your name:</label>
                <textarea required name="name" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Artur"></textarea>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Write you phone number:</label>
                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="+380 000000000000">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">City</label>
                <textarea required name="name" class="form-control" id="exampleFormControlTextarea1" placeholder="Kiev"></textarea>
            </div>
    
        </form>
        <button type="submit" class="btn btn-light" href="/templates/index.html">End</button>
{% endblock %}